.reviews {
    width: 100%;
    margin-top: 30px;

    &-container {
        margin-top: 24px;
    }

    &-post {
        width: 100%;
        margin-top: 24px;
        position: relative;
        &-image {
            width: 100%;
            height: auto;
        }
    
        &-title {
            font-size: 18px;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            color: #FFF;
            padding: 0 20px 20px;
        }
    }

    .questions {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .question {
            text-align: justify;
        }
    }

    
}